body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  line-height: 1.5;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 21px;
  vertical-align: middle;
  text-transform: uppercase;
}
a.logo > .logo-effect {
  color: #4d5ae5;
}
.nav-list {
  font-weight: 500;
}
.contact-item a {
  color: #434455;
}
.hero-image {
  background-color: #2e2f42;
}
.main-page-headline {
  color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  text-align: center;
}
.main-page-button {
  width: 169px;
  height: 56px;
  opacity: 1;
  gap: 10px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
}
.hero-advantages li {
  color: #434455;
  width: 264px;
}
.team-members-box {
  background-color: #f4f4fd;
}
.team-member-pic {
  width: 264px;
  height: 260px;
  opacity: 1;
}
h2 {
  font-weight: 700;
  font-style: bold;
  font-size: 36px;
  text-align: center;
}
h3 {
  color: #2e2f42;
}
.item-pic {
  width: 360px;
  height: 300px;
  opacity: 1;
}
.item-name {
  font-weight: 500;
  font-size: 20px;
}
footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
